body {
    display: grid;
  justify-content: center;
  align-items: center;
  
    /* grid-template-areas:
    "y y"
    "z z z"
    "x x"
    "w w"; */
    background: linear-gradient(90deg, rgba(212, 194, 152, 0.644) 0%, rgba(122, 68, 238, 0.678) 100%);

}

#top :first-child {
    text-align: center;
    
}

#top {
    margin-bottom: 5px;
}

#top :last-child {
    cursor: pointer;
}

h1 {
     /* grid-area: x;  */
    justify-self: center;
    margin-bottom: 0;
    font-family: sans-serif;
    
}

.versus {
    /* grid-area: x; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-self: center;
    height: 300px;
    width: 500px;
    background: radial-gradient(circle at 50% center, rgba(112, 14, 173, 0.61) 0%, rgba(159, 44, 138, 0.692) 0%, rgba(31, 50, 105, 0.603) 100%);
    /* align-self: center; */
    border: 3px rgba(99, 96, 96, 0.829) solid;
    margin-top: 50px;

}

.versus-icons {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.AI, .player {
    cursor: pointer;
    font-family: sans-serif;
    border: 2px solid rgba(49, 49, 49, 0.911);
    padding: 7px;
}

.player {
    width: 120px;
    text-align: center;
}

.board-container {
    display: flex;
    align-items: center;
    width: 600px;
    justify-content: space-between;
}

.board {
    /* grid-area: z; */
    /* text-align: center; */
    display: grid;
    grid-template: repeat(3, 120px) / repeat(3, 120px);
    height: 359px;
    width: 359px;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;

    grid-template-areas:  
    "a b c"
    "d e f"
    "g h i"
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine {
    /* background-color: rgba(128, 128, 128, 0.452); */
    font-size: 88px;
    padding-top: 8px;
    font-family: monospace;
    cursor: default;
    /* border-bottom: solid black 1px; */
} 

#one {
    grid-area: a;
    border: solid black 1.5px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
}

#two {
    grid-area: b;
    /* background-color: rgba(128, 128, 128, 0.452);  */
    border: solid black 1.5px;
    border-top: none;
    border-right: none;
    text-align: center;
}

#three {
    grid-area: c;
    border: solid black 1.5px;
    border-top: none;
    border-right: none;
    text-align: center;
}

#four {
    grid-area: d;
    border: solid black 1.5px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
}

#five {
    grid-area: e;
    border: solid black 1.5px;
    border-top: none;
    border-right: none;
    text-align: center;
}

#six {
    grid-area: f;
    border: solid black 1.5px;
    border-top: none;
    border-right: none;
    text-align: center;
}

#seven {
    grid-area: g;
    border: solid black 1.5px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    text-align: center;
}

#eight {
    grid-area: h;
    border: solid black 1.5px;
    border-top: none;
    border-bottom: none;
    border-right: none;
    text-align: center;
}

#nine {
    grid-area: i;
    border: solid black 1.5px;
    border-top: none;
    border-bottom: none;
    border-right: none;
    text-align: center;
    
}

.empty {
    /* grid-area: y; */
        margin-top: 50px;
    height: 50px;
    justify-self: center;
    text-align: center;
    display: flex;
    font-size: 30px;
    font-family: sans-serif;
}

/* .another-empty {
    grid-area: y;
    height: 50px;
    width: 100px;
} */

.removed {
    display: none;
    /* display: none; */
}

.reset {
    justify-self: center;
}

.reset:hover {
    cursor: pointer;
}